__pycache__/
*.pyc
*.log
*.tmp
*.DS_Store

# Simulation result/output folders
outputs/
results/
plots/
*.gif
*.png

# Virtual environment
venv/
env/

barc_launch/
mpclab_common/
mpclab_controllers/
mpclab_simulators/
mpclab_visualizers/
nonplanar_vehicle_navigation/
mpclab_estimation/
mpclab_simulation/

__pycache__/